

.gradient {
    background: linear-gradient(to right, #f7f7f7, #ff0000);
    width: 100%;
    height: 10px;
    border-radius: 5px;
}

.min {
    float: left;
}

.max {
    float: right;
}

.scaleKey {
    max-width: 375px;
}

.scaleKey h3 {
    margin-top: 3px;    
    margin-bottom: 6px;
}

.scaleKey h4 {
    font-family: IBM Plex Mono;
}