.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fg {
    /* above the bg */
    z-index: 1;
}

.bg {
    /* below the fg */
    z-index: 0;
}