.selectorContainer {
    position: fixed;
    /* pinned to the right of the screen */
    right: 0;
    top: calc(100% * 0.035);
    margin-right: 2%;
    margin-bottom: 20%;
    margin-left: 60%;
    font-family: IBM Plex Mono;
    text-align: center;
}

.seperator {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    font-size: .6em;
    display: table;
    white-space: nowrap;
    &:before, &:after {
      border-top: 1px solid #0c0a10;
      content: '';
      display: table-cell;
      position: relative;
      top: 0.6em;
      width: 18%;
    }
    &:before { right: 5.5%; }
    &:after { left: 5.5%; }
}

.allCases {
    border-radius: 9px !important;
}

.legendOptions {
    margin-top: 8px;
}

.legendOptions li:first-child {
    border-radius: 8px 8px 0 0;
}

.legendOptions li:last-child {
    border-radius: 0 0 8px 8px;
}

.legendOptions li {
    position: relative;
}
.legendOptions li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    border-top: 1px solid #0c0a10;
}

.legendOptions li:first-child::before {
    border-top: none;
}

.active {
    background-color: #0c0a10;
    color: #F8F9F9;
}

.active h4 {
    color: #a6a6a6 !important;
}

.inactive {
    background-color: transparent;
    color: #0c0a10;
}

.inactive * {
    background-color: #F8F9F9;
}


.active svg * {
    stroke: #F8F9F9 !important;
}

.inactive svg * {
    stroke: #0c0a10 !important;
}


.selector {
    list-style-type: none;
    border-radius: 9px;
    transition: transform 0.5s;
}

.selector li {
    cursor: pointer;
    padding: 4px;
}

.inactive:hover {
    background-color: #e4e4e4;
}

.selector li h3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    white-space: pre-wrap;
    background-color: rgba(0, 0, 0, 0) !important;
}

.selector li h4 {
    font-size: 0.7em;
    word-spacing: -2px;
    color: #525252;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0) !important;
}

.selector li svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0) !important;
}

.iconContainer {
    padding: 2px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0) !important;
}

.iconContainer svg {
    background-color: rgba(0, 0, 0, 0) !important;
}
/*
.dairyTransform {
    transform: translateX(-5px) !important;
}

.poultryTransform {
    transform: translateX(6px) !important;
}

.humanTransform {
    transform: translateX(6px) !important;
}
*/

@media (max-height: 600px) or (max-width: 550px) {
    .selector li svg {
        transform: scale(0.9);
    }

    .selector li {
        padding: 2px;
    }

    .selector li h3 {
        font-size: 1em;
    }

    .iconContainer {
        padding: 1px;
    }
}

@media (max-height: 400px) {
    /* convert to a horizontal list */

    .selectorContainer {
        display: flex;
    }

    .selector {
        display: flex;
        flex-direction: row;
        margin-right: 10px;
    }
    
    .selector li svg {
        margin-top: 0px;
    }

    .seperator {
        display: none;
    }

    .legendOptions {
        margin-top: 0px;
    }

    .legendOptions li::before {
        display: none;
    }

}