.title {
    position: fixed; /* top right */ 
    top: calc(100% * 0.035);
    left: 0;
    margin-left: 2%;
    font-family: 'Aktive Grotesk', 'sans-serif';
    font-weight: 400;
    margin-right: 50%;
}

.title h1 {
    font-weight: 500;
    color: #0c0a10;
}

.title h3 {
    font-family: 'Space Mono', italic;
    white-space: pre-wrap;
    font-weight: 300;
    color: #636363;
}
.divider {
    border-top: 1px solid #0c0a10;
    margin: 10px 0; /* Adjust the margin as needed */
}
        
/* hide if width OR height are small 
@media (max-width: 500px), (max-height: 400px) {
    .title {
        display: none;
    }
}
    */