.title {
    position: absolute; /* top right */ 
    top: calc(100dvh * 0.035);
    left: 0;
    margin-left: 2%;
    font-family: 'Aktive Grotesk', 'sans-serif';
    font-weight: 400;
    margin-right: 50vw;
}

.title h1 {
    font-weight: 500;
    color: #0c0a10;
}

/* hide if width OR height are small 
@media (max-width: 500px), (max-height: 400px) {
    .title {
        display: none;
    }
}
    */