.container {
  border: 1px solid black;
  border-radius: 5px;
  margin: 1rem auto;
}

.uploadForm {
  display: block;
  padding: 1rem;
}

.download {
  display: block;
  padding: .2rem;
}

.uploadForm span div {
  display: inline-block;
  color: #386aac;
  cursor: pointer;
}

.uploadForm span div:hover {
  text-decoration: underline;
}

.uploadForm input[type="file"] {
  display: none;
}

.uploadForm button {
  float: right;
  margin: 0;
  padding: .3rem .5rem;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.uploadForm button:hover {
  opacity: .8;
}

.download div {
  display: inline-block;
  margin: .6rem;
}

.download a {
  color: #386aac;
  text-decoration: none;
}

.download a:hover {
  text-decoration: underline;
}

.download div p {
  margin: .3rem;
}

.download div p:last-child {
  margin-top: 1.8rem;
}