@font-face {
  font-family: "Aktive Grotesk";
  src: url('../fonts/AktivGrotesk-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
  
@font-face {
  font-family: "Aktive Grotesk";
  src: url('../fonts/AktivGrotesk-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("../fonts/IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

:root {
  user-select: none;
  overflow: hidden;
  --font-mono: 'Aktive Grotesk', 'sans-serif', 'IBM Plex Mono', monospace;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: font-size 0.1s ease;
}

html, body {
  background-color: #F8F9F9;
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: var(--font-mono);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

.borderBox {
  border: 1px solid #0c0a10;
  border-radius: 9px;
  background-color: #F8F9F9;
}

.dynaPad {  
  padding-left: calc(max(1.3%, 20px));
  padding-right: calc(max(1.3%, 20px));
  padding-top: calc(max(0.7%, 10px));
  padding-bottom: calc(max(0.7%, 10px));
}

.dynaMargin {
  margin-left: calc(max(1.5%, 20px));
  margin-right: calc(max(1.5%, 20px));
  margin-top: calc(max(0.7%, 10px));
  margin-bottom: calc(max(0.7%, 10px));
}

.fontXL {
  font-size: 1.4rem;
}

.fontL {
  font-size: .9rem;
}

.fontM {
  font-size: .8rem;
}

.fontS {
  font-size: .7rem;
}

/* dynamic font size */
@media (max-width: 1000px), (max-height: 800px) {
  .fontXL {
      font-size: 1.3rem;
  }

  .fontL {
      font-size: .8rem;
  }

  .fontM {
      font-size: .7rem;
  }

  .fontS {
      font-size: .6rem;
  }
}

@media (max-width: 800px), (max-height: 600px) {
  .fontXL {
      font-size: 1.2rem;
  }

  .fontL {
      font-size: .7rem;
  }

  .fontM {
      font-size: .6rem;
  }

  .fontS {
      font-size: .5rem;
  }
}

@media (max-width: 600px), (max-height: 400px) {
  .fontXL {
      font-size: 1.1rem;
  }
  
  .fontL {
      font-size: .6rem;
  }

  .fontM {
      font-size: .5rem;
  }

  .fontS {
      font-size: .4rem;
  }
}
