.bb {
    position: absolute;
    transform: translate(-105%, -104%);
    color: #0c0a10;
    text-align: left !important;
    padding: calc(max(0.5%, 12px));
    font-family: 'Aktive Grotesk', 'sans-serif';
    font-weight: 600;
    transition: all 0.3s;
}

.dropdownToggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    white-space: nowrap;
    min-width: 10vw;
}

.subselector {
    position: absolute;
    top: 101%;
    left: 0;
    right: 0;
    z-index: 1000;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    max-height: 20vh;
    scrollbar-width: none;
}

.subselector li {
    padding: 3px;
    cursor: pointer;
    position: relative;
}

.subselector li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    border-top: 1px solid #0c0a10;
}

.subselector li:hover,
.subselector li.active {
    background-color: #f0f0f0;
}

.subselector li:first-child {
    border-radius: 8px 8px 0 0;
}

.subselector li:last-child {
    border-radius: 0 0 8px 8px;
}

.arrow {
    height: 40% !important;
}

.arrow path {
    stroke: #0c0a10 !important;
    stroke-width: 1 !important;
}

.dropdownToggle svg {
    /* pinned to the right */
    margin-left: auto !important;
    margin-right: 10px !important;
}

@media (max-height: 530px) {
    /* convert to a horizontal list */

    .bb {
        transform: translate(-72%, 25%) !important;
    }

}

@media (max-height: 700px) {
    .bb {
        transform: translate(-105%, calc(-100% * 3));
    }
}