.dot {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 5px;
    display: inline-block;
}

.outline {
    border: 2.5px solid #0c0a10 !important;
}

.dotContainer {
    margin-top: 5px;
}