.mapContainer {
    height: 100%;
    width: 100%;
}

.map {
    width: 100dvw;
    height: 100dvh;
}

.mapImage {
    z-index: -1 !important;
}

.county {
    stroke-width: .5;   
    z-index: 1;
    pointer-events: none;
}

.countyOverlay {
    opacity: 0;
    stroke: #000;
    stroke-width: 0;
    transition: all 0.3s;
}


.countyOverlaid {
    opacity: 1 !important;
}

.not_hovered_screen path {
    opacity: 0.9;
    stroke-width: .3;
    z-index: 1 !important;
}

.dotsC {
    z-index: 2;
}

.childOpacity path {
    opacity: 1;
}

.countyOverlay:hover {
    opacity: 1 !important;
    stroke-width: 1;
}

.outlineOpacity path {
    opacity: 1 !important;
}

.noOutlineOpacity path {
    opacity: 0 !important;
}

.zoomButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: calc(100% * 0.03);
    z-index: 3;
    margin-right: 2%;
    margin-top: 60%;
    margin-left: 60%;
    font-family: IBM Plex Mono;
    text-align: center;
}

.zoomButtons button {
    border-radius: 20% !important;
    width: 20px;
    height: 20px;
    font-size: 1.5em;
    margin-bottom: 10px; /* Add some space between the buttons */
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}