.mapContainer {
    flex: 1 1 auto !important;
    position: relative;
    display: flex;
    min-height: 100vh !important;
    justify-content: center;
}

.mapImage {
    z-index: -1 !important;
    min-height: 100vh !important;
}

.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px;
    border-radius: 3px;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    z-index: 99999;
    transform: translate(6px, -50%);
    /* respect newlines */
    white-space: pre-wrap;
}

.tooltip.visible {
    opacity: 1;
}

.county {
    /*
    stroke: #b3b3b3;
    fill: #b3b3b3;
    */
    stroke-width: .5;   
    z-index: 1;
    pointer-events: none;
}

.countyOverlay {
    opacity: 0;
    stroke: #000;
    stroke-width: 0;
    transition: all 0.3s;
}

.countyOverlay:hover {
    opacity: 1 !important;
    stroke-width: 1;
}

.countyOverlaid {
    opacity: 1 !important;
}

.not_hovered_screen path {
    opacity: 0.9;
    stroke-width: .3;
    z-index: 1 !important;
}