.tooltip {
    position: absolute;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    z-index: 99999;
    /* respect newlines */
    white-space: pre-wrap;
}

.tooltip.visible {
    opacity: 1;
}

.tooltip svg {
    width: 200px;
    height: 200px;
    fill: white;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(6px, -50%);
}

.tooltip text {
    white-space: pre-wrap;
}