.key {
    position: absolute; /* bottom left */
    bottom: calc(100dvh * 0.03);
    left: 0;
    margin-left: 2%;
    font-family: 'Aktive Grotesk', 'sans-serif';
    font-weight: 500;
    margin-right: 40vw;
}

.key ul {
    list-style-type: none;
}

.key ul li {
    margin-bottom: 5px;
    vertical-align: middle;
}

.key ul li div {
    align-items: center;
    display: flex;
}
  
.disableCounties g * {
    pointer-events: none;
}
